.dropdown-menu {
  display: none;
  background-color: white;
}

.dropdown-menu a {
  color: black;
  display: block;
  line-height: 30px !important;
}

@media (min-width: 900px) {
  .dropdown-menu a {
    line-height: 40px !important;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-btn {
  text-shadow: 0px 0px 25px dodgerblue;
}
